@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(28, 28, 28);
  font-family: "Roboto Slab", serif;
}

/* Header part */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header > img {
  height: 60px;
}

header > nav > a {
  color: rgb(227, 227, 227);
  text-decoration: none;
  margin: 0 0 0 1rem;
}

/* Main part */

#app {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 32px;
  text-align: center;
}

#app > section > p {
  height: 10%;
  font-size: 1.5rem;
}

#app > section,
#app > section > img {
  transition: all 0.5s ease;
}

#app > section {
  position: relative;
  color: rgb(227, 227, 227);
  background-color: rgb(49, 56, 56);
  height: 400px;
  box-shadow: 0 0 5px #3b3b3b;
  overflow: hidden;
  border-radius: 8px;
}

#app > section > img {
  transform-origin: top center;
  height: 80%;
  width: 250px;
  object-fit: cover;
  transition: all 0.5s ease;
}

#app > section:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#app > section:hover > img {
  filter: brightness(1.2);
}

#app:has(section:hover) section:not(:hover) {
  opacity: 0.5;
}
